.word-builder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
        
    .game-info {
        display: flex;
        justify-content: space-between;
        width: 60%;
        padding: 10px;
        background-color: #4e89ae;
        color: white;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    
    .letters-container {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    
    .letter-button {
        padding: 15px;
        font-size: 18px;
        margin: 5px;
        border: 2px solid #4e89ae;
        border-radius: 10px;
        cursor: pointer;
        background-color: #fff;
    }
    
    .letter-button:hover {
        background-color: #4e89ae;
        color: #fff;
    }
    
    .current-guess h2 {
        margin: 20px 0;
    }
    
    .submit-button {
        background-color: #4e89ae;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .found-words {
        margin-top: 20px;
    }
    
    .word-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .word-item {
        background-color: #4e89ae;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
    }
    
    .game-over-message {
        text-align: center;
        background-color: rgba(78, 137, 174, 0.8);
        color: white;
        padding: 20px;
        border-radius: 10px;
    }
    
  }
  